.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 30vh 30vh;
    gap: 1vh;

    .buttonCard{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;

        button{
            border: none;
            background-color: transparent;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        &:hover{
            transform: scale(1.02);
        }
    }
}

.modal{
    .inputDiv{
        // background-color: red;
        padding: 1vh;
        padding-bottom: 2vh;
    }

}