@import "../../utils/style/common.scss";

.container{
    

    .navOpened{
        padding: $default-padding;
        padding-left: 17vw;
        transition: all 0.5s;
    }

    .navClosed{
        padding: $default-padding;
        transition: all 0.5s;
    }



}
