//COLORS
$white: #FFFBEB;
$lighter-purple: #495579;
$purple: #263159;
$darker-purple: #251749;
$black:rgb(25, 25, 25);

//SPACES AND SIZES
$default-radius: 1vh;
$default-padding: 1vh 2vw; 

$header-height:7vh;

.title{
    margin-bottom: 2vh;
}